version: "3.8"

services:
    postgres:
        ports:
            - 5432:5432

    mariadb:
        ports:
            - 3306:3306

    redis:
        ports:
            - 6379:6379

    rabbitmq:
        ports:
            - 5672:5672
            - 15672:15672
