version: "3.8"

services:
    db:
        ports:
            - "3306:3306"

    redis:
        ports:
            - "6379:6379"

    rabbitmq:
        ports:
            - "5672:5672"
            - "15672:15672"

    mailhog:
        ports:
            - "1025:1025"
            - "8025:8025"

    meilisearch:
        ports:
            - "7700:7700"
